<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Add Paper</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/papers" method="post" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" placeholder="Enter Name"
                    name="paper[title]" required>
                <div class="valid-feedback">
                    Looks Good!!
                </div>
                <div class="invalid-feedback">
                    Name Required
                </div>
            </div>

            <div class="mb-3">
                <label for="file" class="form-label">Upload Paper</label>
                <input class="form-control" type="file" id="file" name="file">
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" placeholder="Enter description"
                    name="paper[description]" style="height: 160px;" required></textarea>
                <div class="valid-feedback">
                    Looks Good!!
                </div>
                <div class="invalid-feedback">
                    Give Description
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Paper</button>
            </div>
        </form>
        <a href="/papers">Cancel</a>
    </div>
</div>
